header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
header button {
    background: white;
    border: 2px solid black;
    color: black;
    transition: 0.3s ease-in;
}
header button:hover {
    background-color: black;
    color: white;
}